html,
body{
    height: 100%;
}
body{
    font-size: 16px;
    line-height: 26px;
    @extend %dmsans-400;
    display: flex;
    flex-direction: column;
}
.main{
    flex-grow: 1;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container--big{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}
.title{
    @extend %dmsans-700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 35px;
    color: $default;
}
.mixit-btn{
    border: none;
    background-color: transparent;
    @extend %dmsans-700;
    color: #8b8b8b;
    font-size: 16px;
    cursor: pointer;
    &:hover{
        color: #191919;
    }
}
.mixit-btn + .mixit-btn{
    margin-left: 30px;
}
.top{
    background-color: #edf1f4;
    text-align: center;
    padding: 32px 0;
    &__title{
        @extend %myriadpro-400;
        font-size: 36px;
        line-height: 24px;
        color: #222933;
        margin-bottom: 15px;
    }
}
.breadcrumbs{
    display:flex;
    justify-content: center;
    text-align: center;
    position: relative;
    &__list{
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    &__item{
        color: #727272;
        padding-right: 22px;
        position: relative;
        font-size: 14px;
        line-height: 24px;
        &::after{
            content: "/";
            position: absolute;
            font-size: 14px;
            color: #9fa3a8;
            right: 10px;
        }
        &:last-child{
            padding-right: 0;
            &::after{
                display: none;
            }
        }
    }
    &__link{
        color: inherit;
    }
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 108px 0 0;
    .pagination__list{
        display: flex;
        padding: 0 15px;
    }
    &__item{
        padding: 0 15px;
    }

    &__link ,
    .pagination__next ,
    .pagination__prev{
        @extend %rubik-400;
        font-size: 16px;
        line-height: 30px;
        color: $default;
        border: 1px solid #a3bbc8;
        padding: 15px 21px ;
    }
    &__link--active{
        color: #fff;
        background-color: #a3bbc8;
    }    
    .pagination__next{
        padding: 9px 22px ;
    }

}
