@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    padding: 50px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 35px;
    }
    &__list-link{
        @extend %rubik-500;
        color: #436372;
     }
}
.user-nav{
    display: flex;
    &__link{
        position: relative;
    }
    &__link +.user-nav__link{
        margin-left: 60px;
    }
    &__num{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        top: -9px;
        right: -14px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    }
    &__link--search{
        background-color: #edf1f4;
        width: 50px;
        height: 50px; 
        border-radius: 50%;
        margin-right: 20px;
        padding: 18px 18px;
    }
    &__link-box{
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 20px;
        background-color: #fcd7b6;
        border-radius: 25px;
        padding: 13px 40px
    }
    &__link-box::after{
        content: "";
        border-right: 1px solid;
        color: #fde7d3;
        position: absolute;
        top: 6px;
        right: 84px;
        height: 26px;
        width: 1px;
    }
    &__link--ellips{
        background-color: #a3bbc8;
        width: 50px;
        height: 50px; 
        border-radius: 50%;
        padding: 18px 18px;
    }
}
.footer-top{
    display: flex;
    padding: 85px 0 75px;
    border-bottom: 1px solid #dae4e9;
    &__logo{
        margin-bottom: 15px;
        display: block;
    }
    &__contact{
        width: 193px;
        margin-right: 118px;
    }
    &__services{
        width: 127px;
        margin-right: 155px;
    }
    &__account{
        width: 88px;
        margin-right: 190px;
    }
    
    &__subscription{
        max-width: 283px;
    }
    &__title{
        line-height: 21px;
        color: #1f2044;
        text-transform: uppercase;
        margin-bottom: 25px;
        margin-top: 10px;
    }
    &__link,
    &__text{
        @extend %rubik-400;
        font-size: 14px;
        line-height: 24px;
        color: $linkcolor;
        display: block;
        margin-bottom: 10px;
    }
    &__form{
        margin-top: 30px;
    }
    &__form-input{
        background-color: #fef7f0;
        max-width: 170px;
        width: 100%;
        border: none;
        padding: 15px;
        &::placeholder{
            @extend %dmsans-400;
            color: #234969;
            font-size: 12px;
        }
    }
    &__form-btn{
        border: none;
        background-color: #a3bbc8;
        color: #fff;
        padding: 15px 17px;
        cursor: pointer
    }
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    &__copy,
    &__links-link{
        @extend %rubik-400;
        font-size: 14px;
        line-height: 24px;
        color: $linkcolor;
    }
    &__links-link:not(:last-child){
        border-right: 1px solid $linkcolor;
        margin-right: 15px;
        padding-right: 15px;
    }
}
.top-slider{
    background-color: #fcd7b6;
    &__container{
        max-width: 1350px;
    }
    &__item{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        padding-left: 70px;
    }
    &__content{
        padding-top: 215px;
        padding-bottom: 200px;
        max-width: 415px;
    }
    &__title{
        @extend %rubik-400;
        font-size: 72px;
        line-height: 70px;
        color: $default;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__text{
        @extend %rubik-400;
        font-size: 18px;
        line-height: 30px;
        color: $default;
        margin-bottom: 40px;
    }
    &__link{
        color: #fff;
        background-color: #a3bbc8;
        padding: 20px 17px 20px 26px;
        font-size: 15px;
        line-height: 12px;
    }
    &__link-icon img{
        display: inline-block;
        padding-left: 55px;
    }
    &__image{
        margin-top: 120px;
    }
    &__bottom{
        display: flex;
        justify-content: space-around;
        background-color: #fef7f0;
    }
    &__bottom-item{
        padding: 40px 140px;
    }
    &__bottom-item:not(:last-child){
        border-right: 1px solid #e8e4df;
    }
    &__bottom-title{
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 40px;
    }
    &__bottom-text{
        max-width: 208px;
        @extend %dmsans-400;
        color: #585858;
    }
    &__bottom-item--payment,
    &__bottom-item--delivery,
    &__bottom-item--support{
        position: relative;
    }
    &__bottom-item--support::before{
        content: "";
        position: absolute;
        background-image: url('../images/support.png');
        background-repeat: no-repeat;
        margin-left: -70px;
        margin-top: 10px;
        width: 55px;
        height: 50px;
    }
    &__bottom-item--delivery::before{
        content: "";
        position: absolute;
        background-image: url('../images/delivery-truck.png');
        background-repeat: no-repeat;
        margin-left: -70px;
        margin-top: 10px;
        width: 55px;
        height: 50px;
    }
    &__bottom-item--payment::before{
        content: "";
        position: absolute;
        background-image: url('../images/credit-card.png');
        background-repeat: no-repeat;
        margin-left: -70px;
        margin-top: 10px;
        width: 55px;
        height: 50px;
    }
}
.slick-dots{
    display: flex;
    justify-content: center;
    padding-bottom: 42px;
    li{
        padding: 0 8px;
        line-height: 0;
    }
    button{
        padding: 0;
        font-size: 11px;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid transparent;
        cursor: pointer;
    }
}   
.slick-active{
        button{
            background-color: #fff;
        }
}
.week{
    padding-top: 70px;
    margin-bottom: 100px;
    &__wrapper{
        margin-bottom: 197px;
    }
    &__filter-btn{
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 30px;
    }
}
.week-item{
        position: relative;
        border: 1px solid transparent;
        border-radius: 15px;
        height: 375px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &__img{
        display: block;
        margin: 0 auto;
        padding-top: 10px;
    }
    &__descr{
        text-align: center;
    }
    &__title{
        @extend %dmsans-500;
        line-height: 40px;
        color: $default;
    }
    &__price{
        @extend %dmsans-700;
        line-height: 40px;
        color: #a3bbc8;
    }
    &__links{
        position: absolute;
        display: none;
        margin-left: 50px;
    }
    .week-item:hover &__links{
        display: block;
    }
    &__links-search,
    &__links-cart,
    &__links-like{
        background-color: #fefefe;
        padding: 8px 7px 3px ;
        border: 1px solid transparent;
        border-radius: 50%;
        margin-left: 17px
    }
    &__links-search:hover,
    &__links-cart:hover,
    &__links-like:hover{
        background-color: #a3bbc8;
        stroke: #fefefe;
    }
    
}
.week-bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    &__item{
        background-color: #feefe2;
        display: flex;
        padding-left: 135px;
        padding-bottom: 110px;
    }
    &__item-img{
        margin-top: -100px;
        margin-right: 25px;
    }
    &__item-content{
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 327px;
    }
    &__item-title{
        @extend %dmsans-700;
        font-size: 26px;
        line-height: 32px;
        color: $default;
        margin-bottom: 23px;
    }
    &__item-descr{
        @extend %rubik-400;
        line-height: 30px;
        color: $default;
        margin-bottom: 23px;
    }
    &__item-link{
        max-width: 180px;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        color: #436372;
        padding: 22px 20px;
        border: 1px solid #436372;
        border-radius: 5px;
    }
    &__item-link-img{
        display: inline-block;
        padding-left: 39px;
    }
}
.design{
    &__wrapper{
        margin-bottom: 120px;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
}
    &__item{
        padding: 40px 0 25px 35px;
        background-color: #f8f8f8;
        border-top: 1px solid transparent;
        border-radius: 5px;
        overflow: hidden;
    }
    &__item-title{
        @extend %dmsans-700;
        font-size: 20px;
        color: #191919;
        margin-bottom: 20px;
        max-width: 171px;
    }
    &__item-descr{
        @extend %dmsans-700;
        color: #a3bbc8;
    }
    &__item-img{
        margin-left: 100px;
        margin-top: -30px;
        object-fit: cover;

    }
    &__item:nth-child(3) img{
        margin-left: auto;
        padding-right: 45px;
        margin-top: -80px;
    }
    &__item:nth-child(5) img{
        margin-left: auto;
        padding-right: 45px;
        margin-top: -80px;
    }
   .design-video{
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin-bottom: 110px;
   }
}
.articles{
    &__title-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
    &__title{
       text-align: left;
    }
    &__link{
        @extend %dmsans-700;
        .articles__link svg{
            padding-left: 15px;
        }
    }
    &__items{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item{
        height: 420px;
        max-width: 370px;
        width: 100%;
        min-height: 420px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        border: 1px solid transparent;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 85px;
        background-color: #fff;
    }
    &__item-img{
        display: block;
        position: relative;
        margin-bottom: 33px;
        &::after{
            content: 'NEWS';
            position: absolute;
            @extend %rubik-500;
            font-size: 14px;
            color: #fff;
            background-color: #a3bbc8;
            padding: 8px 30px;
            border: 1px solid transparent;
            border-radius: 30px;
            margin-top: -27px;
            margin-left: 27px;
        }
     }
    &__item-content{
       padding: 0 30px
    }
    &__item-text{
        @extend %dmsans-500;
        font-size: 18px;
        line-height: 20px;
        color: #262626;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    &__item-bottom{
        display: flex;
        margin-bottom: 20px;
    }
    &__item-date,
    &__item-autor{
        @extend %rubik-400;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 30px;
        color: #222933;
        margin-right: 30px;
    }
    &__item-date{
        margin-right: 30px;
    }
}
.partners{
    background-color: #fef7f0;
    padding: 220px 0 120px;
    margin-top: -200px;
    &__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
.modal{
    &__form-wrapper{
         margin: 0 auto 115px;
        padding-top:  113px;
        max-width: 475px;
    }
    &__label-box{
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 1px solid #f6f6f6;
    }
    &__label,
    &__label-link{
        margin-bottom: 15px;
        display: block;
        @extend %rubik-400;
        font-size: 14px;
        color: #436372;
    }

    &__input{
        display: block;
        width: 100%;
        border: 2px solid #f6f6f6;
        margin-top: 4px;
        height: 60px;
        padding: 0 15px;
    }
    &__btn{
        display: block;
        @extend %rubik-500;
        font-size: 18px;
        background-color: #a3bbc8;
        color: #fff;
        padding: 14px 0;
        border: none;
        width: 100%;
        cursor: pointer;
        margin-bottom: 30px;
    }
    &__error{
        display: block;
        margin-top: 30px;
        text-align: center;
        
        @extend %rubik-400;
        font-size: 14px;
        color: #436372;
    }
    &__link-create{
        display: block;
        text-align: center;
        margin-top: 25px;
        @extend %rubik-500;
        font-size: 18px;
        color: $default;
        background-color: transparent;
        border: 2px solid #a3bbc8;
        padding: 14px 0;
    }
}
.mission{
    margin: 115px 0;
    &__wrapper{
    background-image: url("../images/mission-img.jpg");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: top left;
    }
    &__content{
        max-width: 580px;
        margin-left: auto;
        padding: 75px 0 80px;
  
    }
    &__subtitle{
        display: flex;
        margin-bottom: 47px;
        max-width: 280px;
    }
    &__subtitle-numbers{
        @extend %rubik-700;
        font-size: 140px;
        line-height: 32px;
        color: #a3bbc8;
        margin-right: 20px;
    }
    &__subtitle-text{
        @extend %rubik-400;
        line-height: 30px;
        color: $default;
        margin-top: -20px;
    }
    &__title{
        color: $default;
        text-align-last: left;
    }
    &__text{
        @extend %rubik-400;
        line-height: 30px;
        color: $default;
        border-bottom: 1px solid #e6eaf0;
        padding-bottom: 60px;
    }
    &__achiev-list{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    &__achiev-item{
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        &:not(:last-child){
            border-right: 1px solid #e6eaf0;
        }
    }
    &__achiev-item svg{
        path{
        fill: #b5c8d3;
        }
    }
    &__achiev-item-content{
        display: block;
        margin-left: 20px;
    }
    &__achiev-title{
        @extend %dmsans-700;
        font-size: 36px;
        line-height: 38px;
        color: $default;
    }
    &__achiev-descr{
        @extend %dmsans-700;
        line-height: 17px;
        color: #4c4c4c;
    }
}
.numbers{
    background-color: #fcd7b6;
    margin-bottom: 120px;
    &__wrapper{
        padding: 80px 0;
    }
    &__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__item{
        max-width: 190px;
    }
    &__item-icon{
        display: block;
        margin: 0 auto 20px;

    }
    &__item-title{
        text-align: center;
        @extend %dmsans-700;
        font-size: 36px;
        line-height: 32px;
        color: $default;
        margin-bottom: 20px;
    }
    &__item-descr{
        text-align: center;
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 32px;
        color: $default;
    }
}
.team{
    margin-bottom: 150px;
    &__wrapper{
        display: flex;
        justify-content: space-between
    }
    &__descr{
        max-width: 315px;
    }
    &__title{
        text-align-last: left;
        margin-bottom: 32px;
        color: $default;
        font-size: 36px;
        line-height: 32px;
    }
    &__text{
        @extend %rubik-400;
        line-height: 30px;
        color: $default;
        margin-bottom: 35px;
    }
    &__link{
        @extend %myriadpro-400;
        font-size: 15px;
        line-height: 55px;
        color: #fff;
        background-color:#a3bbc8;
        border: 1px solid #a3bbc8;
        border-radius: 5px;
        padding: 17px 26px 17px 22px;
    }
    &__link svg{
        padding-left: 20px;
        path{
            fill: #fff
        }
    }
    &__members{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-gap: 100px 35px;
    }
    &__member{
       position: relative;
    }
    &__member-info{
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -50px;
        background-color: #fff;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        max-width: 325px;
        width: 100%;
        padding: 30px 15px;
    }
    &__member-info-name{
        @extend %dmsans-700;
        font-size: 22px;
        line-height: 26px;
        color: #436372;
        margin-bottom: 12px;
    }
    &__member-info-position{
        @extend %rubik-400;
        line-height: 30px;
        color: #565872;
    }

    &__member-info-socials{
        display: flex;
    }
    
    &__member-info-socials-link{
        padding-left: 7px;
    }
}
@import 'media';


  
